//container 
.container {
	max-width: 1120px;
	margin-inline: auto;
	padding-inline: 20px;
}


//displays

.d-flex {
	display: flex;
	&--justify {
		justify-content: space-between;
	}
}


//gaps
.gap1 {gap:1em};.gap2 {gap:2em};.gap3 {gap:3em};

//button 
.btn {
	display: inline-block;
	background-color: $softRed;
	color: $dark;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 25px;
	font-size: .7rem;
	letter-spacing: 2.5px;
	transition: .3s ease;
	&:hover, &:focus {
		background-color: $dark;
		color: #fff;
	}
}