@import 'variables';
@import 'utilities';
@import 'mixins';

html {
	box-sizing: border-box;
	font-size: 15px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	color: $textColor;
	h1, h2, h3 {
		color: $dark;
	}
	h1 {
		font-size: 3.4rem;
		font-weight: 800;
		line-height: 1;
	}
	h2 {
		font-size: 2.3rem;
	}
	&::after {
		content: "";
		position: fixed;
		width: 100%;height: 100%;
		inset: 0;
		background: rgba(0,0,0,.6);
		transition: .3s opacity ease;
		display: none;
		@media screen and (max-width: $breakSmall) {
			display: block;
			visibility: hidden;
			opacity: 0;
		}
	}
	&.show-overlay {
		overflow-y: hidden;
		&::after {
			visibility: visible;
			opacity: 1;
		}
	}
}

ul {
	list-style: none;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
	transition: .3s color ease-in-out;
	&:hover, &:focus {
		color: $softRed;
	}
}

.header {
	margin-top: 2em;
	margin-bottom: 3em;
	.hamburger, .close-x {
		background: none;
		border: none;
		cursor: pointer;
		display: none;
	}
	.close-x {
		position: absolute;
		top: 30px;
		right: 20px;
	}
	@media screen and (max-width: $breakSmall) {
		.hamburger, .close-x {
			display: block;
		}
		.header-nav {

			//display: none;

			background-color: #fff;
			position: fixed;
			z-index: 1;
			right: 0; top: 0;
			height: 100%;
			width: 75%;
			padding: 20px;
			translate: 100% 0;
			transition: .3s translate ease;
			ul {
				flex-direction: column;
				margin-top: 10em;
				li {
					a {

					}
				}
			}
			&.mobile-nav-show {
				translate: 0 0;
			}
		}
	}
}


.main {
	p, p a {
		line-height: 1.5;
	}
	.col-70 {
		 width: 70%;
	}
	.col-30 {
		width: 30%;
	}
	.hero-content-block {
		width: 50%;
		margin-top: 25px;
		h1, > p:first-of-type {
			margin-top: 0;
		}
		.btn {
			margin-top: 15px;
		}
	}

	.aside-links {
		background: $dark;
		padding: 20px;
		>h2 {
			color: $softOrange;
			margin-top: 0;
		}
		ul {
			li {
				border-bottom: 1px solid $grayishBlue;
				a {
					display: block;
					padding-top: 15px;
					padding-bottom: 10px;
					h3 {
						color: #fff;
						transition: .3s color ease;
					}
					p {
						color: $grayishBlue;
						font-size: .9rem;
					}
					&:hover h3, &:focus h3 {
						color: $softOrange;
					}
				}
				&:first-of-type a {
					padding-top: 0;
				}
				&:last-of-type {
					border-bottom: none;
					a {
						padding-bottom: 0;
					}
				}
			}
		}
	}
	@media screen and (max-width: $breakMid) {
		.top {
			flex-direction: column;
			> .col {
				width: 100%;
			}
		}
	}
	@media screen and (max-width: $breakSmall) {
		.top .col > .d-flex {
			flex-direction: column;
			gap: 0;
			margin-bottom: 2em;
			.hero-content-block {
				width: 100%;
				h1 {
					margin-bottom: 0;
				}
			}
		}
	}
}

.bottom {
	margin-top: 3em;
	ul {
		li {
			img {
				width: 100px;
				height: 128px;
			}
			h2 {
				color: $softRed;
				font-size: 1.8rem;
				margin: 0;
			}
			h3 {
				margin: 5px 0 10px;
				font-size: 1rem;
				transition: .3s color ease;
			}
			a p {
				color: $textColor !important;
			}
			a:hover, a:focus {
				h3 {
					color: $softRed;
				}
			}
			@media screen and (max-width: $breakMid) {
				a {
					flex-direction: column;
					img {
						width: 100%;
						height: 150px;
						object-fit: cover;
					}
				}
			}
		}
		@media screen and (max-width: $breakSmall) {
			flex-direction: column;
			li {
				a {
					flex-direction: row;
					img {
						width: 100px;
						height: auto;
					}
				}
			}
		}
	}
}

.attribution {
	margin-top: 10em;
	padding-bottom: 1em;
	font-size: .8rem;
	a {
		color: $softRed;
	}
	text-align: center;
}